@model WebApplication1.Models.Piskvorky

@{
    ViewData["Title"] = "Piškvorky 3x3";
}
<div class="text-center">
<h3>@Model.StavHry</h3>
<p>Na tahu je @Model.AktivniHrac</p>

<table class="table-bordered" id="piskvorky-table">
    <tr>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="0">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(0, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="1">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(1, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="2">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(2, 1)</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="3">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(3, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="4">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(4, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="5">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(5, 1)</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="6">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(6, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="7">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(7, 1)</button>
            </form>
        </td>
        <td>
            <form method="post" action="/Piskvorky/Tahnout/">
                <input type="hidden" name="policko" value="8">
                <input type="hidden" name="id" value="@Model.Id">
                <button type="submit" class="btn btn-light">@Model.HerniPole.Substring(8, 1)</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<a class="btn btn-primary" href="/Piskvorky/Vyhodnotit/?id=@Model.Id">Vyhodnotit hru</a>
<br/>
<br/>
<form method="post" action="/Piskvorky/Reset/">
    <input type="hidden" name="id" value="@Model.Id">
    <button type="submit" class="btn btn-danger">Vyresetovat hru</button>
</form>
</div>